<?xml version="1.0" encoding="UTF-8" standalone="no"?>
<configuration>

    <include resource="org/springframework/boot/logging/logback/defaults.xml" />
    <include resource="org/springframework/boot/logging/logback/console-appender.xml" />
    <include resource="org/springframework/boot/logging/logback/file-appender.xml" />

    <appender name="FILE-ROLLING" class="ch.qos.logback.core.rolling.RollingFileAppender">
        <file>logs/app.log</file>

        <rollingPolicy class="ch.qos.logback.core.rolling.SizeAndTimeBasedRollingPolicy">
            <fileNamePattern>logs/archived/app.%d{yyyy-MM-dd}.%i.log</fileNamePattern>
            <!-- each archived file, size max 10MB -->
            <maxFileSize>2KB</maxFileSize>
            <!-- total size of all archive files, if total size > 20GB, it will delete old archived file -->
<!--            <totalSizeCap>10KB</totalSizeCap>-->
            <!-- 60 days to keep -->
<!--            <maxHistory>60</maxHistory>-->
        </rollingPolicy>

        <encoder>
            <pattern>%d [%p] %c{1} [%t] %m%n</pattern>
        </encoder>
    </appender>

    <appender name="CONSOLE" class="ch.qos.logback.core.ConsoleAppender">
        <encoder>
            <pattern>[%d] %clr([%p]){green} %c{1} [%t] %m%n</pattern>
        </encoder>
    </appender>

    <logger name="com.anjaneya.profiles" level="DEBUG" additivity="false">
        <appender-ref ref="FILE-ROLLING"/>
    </logger>

    <root level="INFO">
        <appender-ref ref="CONSOLE" />
    </root>

</configuration>